.campo-elenco{
  text-align: center;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.banco {
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}
