.telajogadores{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.colunas{
  text-align: center;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;

}

#barrapesquisa{
  padding: 10px;
  margin: 20px;
  width: 250px;
  border-radius: 10px;
}